*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.nlo
*.nls
*.out
/*.pdf
!thesis-instructions-cs.pdf
*.run.xml
pdfa.xmpi
*.snm
.*.swp
*.synctex.gz
*.synctex(busy)
thesis-blx.bib
thesis-run.xml
thesis-archive.zip
thesis-archive.tar.gz
*.toc
*-eps-converted-to.pdf
*.vrb
*.xmpdata
*-SAVE-ERROR

/dist
%OUTDIR%/
